body{
	background-image: url('picture/background.jpg');
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}

#line{
	width: 1350px;
  border-bottom: 3px solid grey;
  position: absolute;
  top: 60px;
}

#icon{
	position: absolute;
	top: 0px;
	left: -30px;
	width: auto;
	height: auto;
	max-width: 360px;
	max-height: 140px;
}

#input_window{
	width: 360px;
	height: 300px;
	background-color: gray;
	background-color:rgba(0,0,0,0.1);
	position: absolute;
	top: 25%;
	left: 37%;
	border-style: solid;
	border-width: 5px;
	border-color: #999999;
	border-radius: 25px;
}

#window{
	position: relative;
	top: 90px;
	left: 50px;
}


#return{
	width:80px; 
	height:40px;
	background-color: #C9C9C9;
	position: relative;
	top: 10px;
	left: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #999999;
	border-radius: 5px;
	font-size: 15px;
}

#submit{
	width:80px; 
	height:40px;
	background-color: #66CC99;
	position: relative;
	top: 10px;
	left: 70px;
	border-style: solid;
	border-width: 3px;
	border-color: #999999;
	border-radius: 5px;
	font-size: 15px;
}